    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calc{
    height: 70vh;
    width: 50vmin;
    /* border: 1px solid whitesmoke; */
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(121, 117, 117);
    display: block;
    justify-items: center;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: -5px -5px 10px  rgb(124, 106, 106);;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: aliceblue;
    cursor: pointer;
}
button:active{
    width: 62px;
    height: 62px;
    background-color: rgba(255, 150, 64, 0.677);
}
#input{
    width: 40vmin;
    height: 8vmin;
    margin: 25px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}
#sum{
    border-radius: 10px;
    width: 150px;
    font-size: 34px;
}